@using System.Globalization;
@using Folly.Controllers;
@using Folly.Resources;

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title id="page-title">@(ViewData[BaseController.TitleProperty] ?? Core.Dashboard)</title>
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/css/main.css" asp-append-version="true" />
		<script src="/js/main.js" asp-append-version="true" defer></script>
	</head>

	<body class="sidebar-toggled" hx-boost="true" hx-target="#main" hx-history="false" hx-ext="ajax-header" hx-indicator="#spinner">
		<div id="sidebar">
			<ul>
				<li id="sidebar-button" class="cursor-pointer">
					<a><i class="fl fl-menu fl-lg"></i></a>
				</li>

				@if (User.Identity?.IsAuthenticated == true)
				{
					<authorized-menu-item controller="Dashboard" action="Index" title="@Core.Dashboard" icon="Home" />
					@if (User.HasAccess("Role", "Index") || User.HasAccess("User", "Index"))
					{
						<li class="divider"></li>
					}
					<authorized-menu-item controller="Role" action="Index" title="@Roles.MenuItem" icon="Key" />
					<authorized-menu-item controller="User" action="Index" title="@Users.MenuItem" icon="Users" />
					<li class="divider"></li>
					<authorized-menu-item controller="Account" action="ToggleContextHelp" title="@Core.ToggleHelp" icon="Help" />
					<authorized-menu-item controller="Account" action="UpdateAccount" title="@Account.UpdateAccount" icon="User" />
					<authorized-menu-item controller="Account" action="Logout" title="@Account.Logout" icon="Logout" has-access="true" hx-boost="false" />
				}
				else
				{
					<authorized-menu-item controller="Account" action="Login" title="@Account.Login" icon="Login" has-access="true" hx-boost="false" />
				}
			</ul>
		</div>
		<div id="main">
			@RenderBody()
		</div>
		<div id="spinner" class="htmx-indicator"></div>
	</body>
</html>
