@using Folly.Resources

<div id="sidebarWrapper">
    <ul class="nav-side">
        <li id="menuBtn" class="c-hand" data-toggle="@DataToggle.NavMenu.ToHyphenCase()">
            <a><i class="pr pr-menu pr-lg"></i></a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <authorized-menu-item controller="Dashboard" action="Index" title="@Core.Dashboard" icon="Home" />
            @if (User.HasAccess("Role", "Index") || User.HasAccess("User", "Index"))
            {
                <li class="divider"></li>
            }
            <authorized-menu-item controller="Role" action="Index" title="@Roles.MenuItem" icon="Key" />
            <authorized-menu-item controller="User" action="Index" title="@Users.MenuItem" icon="Users" />
            @if (User.HasAccess("Profiler", "Dashboard"))
            {
                <li class="divider"></li>
                <authorized-menu-item controller="Account" action="ToggleProfiling" title="@Core.ToggleProfiling" icon="Bug" force-reload="true" has-access="true" />
            }
            <li class="divider"></li>
            <authorized-menu-item controller="Account" action="ToggleContextHelp" title="@Core.ToggleHelp" icon="Help" force-reload="true" />
            <authorized-menu-item controller="Account" action="UpdateAccount" title="@Account.UpdateAccount" icon="User" />
            <authorized-menu-item controller="Account" action="Logout" title="@Account.Logout" icon="Logout" has-access="true" is-petch="false" />
        }
        else
        {
            <authorized-menu-item controller="Account" action="Login" title="@Account.Login" icon="Login" has-access="true" is-petch="false" />
        }
    </ul>
</div>
