@using Folly.Extensions
@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <data-table key="roles" src="@Url.Action("List", "Role")">
        <data-head>
            <th>
                <a authorize-roles="role.edit" href="@Url.Action("Create", "Role")" class="button primary"
                    title="@Roles.CreateRole" aria-label="@Roles.CreateRole"
                >
                    <icon name="Add" />
                </a>
                <x-confirm-dialog authorize-roles="role.refreshpermissions" hx-get="@Url.Action("RefreshPermissions", "Role")"
                    data-ok="@Core.Okay" data-cancel="@Core.Cancel" data-content="@Roles.ConfirmRefreshPermissions"
                >
                    <a href="#" class="button primary" title="@Roles.RefreshPermissions" aria-label="@Roles.RefreshPermissions">
                        <icon name="Refresh" />
                    </a>
                </x-confirm-dialog>
            </th>
            <th data-property="id">@Core.Id</th>
            <th data-property="name">@Roles.Name</th>
        </data-head>
        <data-body colspan="3">
            <td>
                <a authorize-roles="role.edit" href="@Url.ActionForMustache("Edit")" class="button primary"
                    title="@Roles.EditRole" aria-label="@Roles.EditRole"
                >
                    <icon name="EditAlt" />
                </a>
                <a authorize-roles="role.edit" href="@Url.ActionForMustache("Copy")" class="button primary" title="@Core.Copy" aria-label="@Core.Copy">
                    <icon name="Copy" />
                </a>
                <x-confirm-dialog authorize-roles="role.delete" hx-delete="@Url.ActionForMustache("Delete")"
                    data-ok="@Core.Okay" data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Roles.RoleLower)"
                >
                    <a href="#" class="button dark" title="@Core.Delete" aria-label="@Core.Delete">
                        <icon name="DeleteAlt" />
                    </a>
                </x-confirm-dialog>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </data-body>
    </data-table>
</content>
