@using Folly.Constants
@using Folly.Extensions
@using Folly.Resources
@using Folly.Utils
<content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <data-table key="roles" src="@Url.Action("List", "Role")">
        <data-head>
            <th width="@Html.Width(ColumnWidth.TripleIcon)">
                <a authorize-roles="role.edit" href="@Url.Action("Create", "Role")" class="button primary">
                    <icon name="Add" label="@Roles.CreateRole" />
                </a>
                <nilla-confirm authorize-roles="role.refreshpermissions">
                    <button class="button primary" role="button" type="button" hx-get="@Url.Action("RefreshPermissions", "Role")"
                        data-dialog-ok="@Core.Okay" data-dialog-cancel="@Core.Cancel" data-dialog-content="@Roles.ConfirmRefreshPermissions"
                    >
                        <icon name="Refresh" label="@Roles.RefreshPermissions" />
                    </button>
                </nilla-confirm>
            </th>
            <th width="@Html.Width(ColumnWidth.Id)" data-property="id">@Core.Id</th>
            <th data-property="name">@Roles.Name</th>
        </data-head>
        <data-body colspan="3">
            <td>
                <a authorize-roles="role.edit" href="@Url.ActionForMustache("Edit")" class="button primary">
                    <icon name="EditAlt" label="@Roles.EditRole" />
                </a>
                <a authorize-roles="role.edit" href="@Url.ActionForMustache("Copy")" class="button primary">
                    <icon name="Copy" label="@Core.Copy" />
                </a>
                <nilla-confirm authorize-roles="role.delete">
                    <button class="button dark" role="button" type="button" hx-delete="@Url.ActionForMustache("Delete")" data-dialog-ok="@Core.Okay"
                            data-dialog-cancel="@Core.Cancel" data-dialog-content="@string.Format(Core.ConfirmDeleteBody, Roles.RoleLower)"
                    >
                        <icon name="DeleteAlt" label="@Core.Delete" />
                    </button>
                </nilla-confirm>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </data-body>
    </data-table>
</content>
