@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alert" />

    <alpine-table-data id="roles" src="@Url.Action("List", "Role")">
        <alpine-table-header />
        <alpine-table>
            <thead>
                <tr>
                    <alpine-th>
                        <a authorize-roles="role.edit" href="@Url.Action("Create", "Role")" class="button primary" title="@Roles.CreateRole">
                            <icon name="Add" />
                        </a>
                        <fw-confirm authorize-roles="role.refreshpermissions" hx-get="@Url.Action("RefreshPermissions", "Role")"
                            data-ok="@Core.Okay" data-cancel="@Core.Cancel" data-content="@Roles.ConfirmRefreshPermissions"
                        >
                            <a class="button primary" title="@Roles.RefreshPermissions">
                                <icon name="Refresh" />
                            </a>
                        </fw-confirm>
                    </alpine-th>
                    <alpine-th property="id">@Core.Id</alpine-th>
                    <alpine-th property="name">@Roles.Name</alpine-th>
                </tr>
            </thead>
            <tbody>
                <alpine-table-status colspan="3" />
                <alpine-table-row>
                    <alpine-td>
                        <a authorize-roles="role.edit" class="button primary" title="@Roles.EditRole" :href="`@Url.Action("Edit")/${row.id}`">
                            <icon name="EditAlt" />
                        </a>
                        <a authorize-roles="role.edit" class="button primary" title="@Core.Copy" :href="`@Url.Action("Copy")/${row.id}`">
                            <icon name="Copy" />
                        </a>
                        <fw-confirm authorize-roles="role.delete" :hx-delete="`@Url.Action("Delete")/${row.id}`"
                            data-ok="@Core.Okay" data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Roles.RoleLower)"
                        >
                            <a class="button dark" title="@Core.Delete">
                                <icon name="DeleteAlt" />
                            </a>
                        </fw-confirm>
                    </alpine-td>
                    <alpine-td property="id" />
                    <alpine-td property="name" />
                </alpine-table-row>
            </tbody>
        </alpine-table>
        <alpine-table-footer />
    </alpine-table-data>
</content>
