@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" is-active="true" />
    </breadcrumb>

    <partial name="_Alert" />

    <lit-table key="tableUsers" src="@Url.Action("List", "User")" row-key="id">
        <lit-table-header property="id">@Core.Id</lit-table-header>
        <lit-table-header property="userName">@Users.UserName</lit-table-header>
        <lit-table-header property="firstName">@Users.FirstName</lit-table-header>
        <lit-table-header property="lastName">@Users.LastName</lit-table-header>
        <lit-table-header property="email">@Users.Email</lit-table-header>

        <div slot="headerActions">
            <a asp-controller="User" asp-action="Create" class="button secondary button-action" title="@Users.CreateUser"><span class="rotate45">@Html.Raw(LitIconChar.Dismiss)</span></a>
        </div>

        <div slot="rowActions">
            <a hx-get="User/Edit/${id}" hx-target="#main" class="button primary button-action" title="@Users.EditUser">@Html.Raw(LitIconChar.Edit)</a>

            <lit-modal href="User/Delete/${id}" method="delete" type="confirm">
                <span slot="button">
                    <button class="button dark button-action icon" title="@Core.Delete">@Html.Raw(LitIconChar.Dismiss)</button>
                </span>
                <span slot="modal-header"><h4>@Core.Delete</h4></span>
                <span slot="modal-content">@Core.AreYouSure</span>
            </lit-modal>
        </div>
    </lit-table>
</content>
