@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" is-active="true" />
    </breadcrumb>

    <partial name="_Alert" />

    <alpine-table-data id="users" src="@Url.Action("List", "User")">
        <partial name="_AlpineTableHeader" />

        <alpine-table>
            <thead>
                <tr>
                    <th class="alpine-no-sort">
                        <a asp-authorize-roles="user.create" href="@Url.Action("Create", "User")" class="button secondary button-action" title="@Users.CreateUser">
                            <icon name="Plus" />
                        </a>
                    </th>
                    <alpine-th property="id">@Core.Id</alpine-th>
                    <alpine-th property="userName">@Users.UserName</alpine-th>
                    <alpine-th property="firstName">@Users.FirstName</alpine-th>
                    <alpine-th property="lastName">@Users.LastName</alpine-th>
                    <alpine-th property="email">@Users.Email</alpine-th>
                </tr>
            </thead>
            <tbody>
                <alpine-spinner colspan="6" />
                <alpine-table-row>
                    <td>
                        <a asp-authorize-roles="user.edit" class="button primary button-action" title="@Users.EditUser" :href="`@Url.Action("Index")/Edit/${row.id}`">
                            <icon name="Edit" />
                        </a>
                        <a asp-authorize-roles="user.delete" class="button dark button-action" title="@Core.Delete" :hx-delete="`@Url.Action("Index")/Delete/${row.id}`"
                            hx-confirm-ok="@Core.Okay" hx-confirm-cancel="@Core.Cancel" hx-confirm-content="@string.Format(Core.ConfirmDeleteBody, Users.UserLower)"
                        >
                            <icon name="Trash" />
                        </a>
                    </td>
                    <alpine-td property="id" />
                    <alpine-td property="userName" />
                    <alpine-td property="firstName" />
                    <alpine-td property="lastName" />
                    <alpine-td property="email" />
                </alpine-table-row>
            </tbody>
        </alpine-table>

        <partial name="_AlpineTableFooter" />
    </alpine-table-data>
</content>
