@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index" is-active="true" />
    </breadcrumb>

    <partial name="_Alert" />

    <alpine-table-data id="roles" src="@Url.Action("List", "Role")">
        <partial name="_AlpineTableHeader" />

        <alpine-table>
            <thead>
                <tr>
                    <th class="alpine-no-sort">
                        <a asp-authorize-roles="role.edit" href="@Url.Action("Create", "Role")" class="button secondary button-action" title="@Roles.CreateRole">
                            <icon name="Plus" />
                        </a>
                        <a asp-authorize-roles="role.refreshpermissions" href="@Url.Action("RefreshPermissions", "Role")" class="button dark button-action" title="@Roles.RefreshPermissions"
                            hx-confirm-ok="@Core.Okay" hx-confirm-cancel="@Core.Cancel" hx-confirm-content="@Roles.ConfirmRefreshPermissions"
                        >
                            <icon name="ArrowsCw" />
                        </a>
                    </th>
                    <alpine-th property="id">@Core.Id</alpine-th>
                    <alpine-th property="name">@Roles.Name</alpine-th>
                </tr>
            </thead>
            <tbody>
                <alpine-spinner colspan="3" />
                <alpine-table-row>
                    <td>
                        <a asp-authorize-roles="role.edit" class="button primary button-action" title="@Roles.EditRole" :href="`@Url.Action("Index")/Edit/${row.id}`">
                            <icon name="Edit" />
                        </a>
                        <a asp-authorize-roles="role.delete" class="button dark button-action" title="@Core.Delete" :hx-delete="`@Url.Action("Index")/Delete/${row.id}`"
                            hx-confirm-ok="@Core.Okay" hx-confirm-cancel="@Core.Cancel" hx-confirm-content="@string.Format(Core.ConfirmDeleteBody, Roles.RoleLower)"
                        >
                            <icon name="Trash" />
                        </a>
                        <a asp-authorize-roles="role.edit" class="button primary button-action" title="@Core.Copy" :href="`@Url.Action("Index")/Copy/${row.id}`">
                            <icon name="Clone" />
                        </a>
                    </td>
                    <alpine-td property="id" />
                    <alpine-td property="name" />
                </alpine-table-row>
            </tbody>
        </alpine-table>

        <partial name="_AlpineTableFooter" />
    </alpine-table-data>
</content>
