@using Folly.Extensions
@using Folly.Resources
@using Folly.Models
@using Folly.Services
@using System.Globalization
@model User
@inject IRoleService _RoleService
@inject ILanguageService _LanguageService

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" />
        <breadcrumb-item label="@(Model.Id == 0 ? Users.CreateUser : Users.EditUser)" controller="User" action="@(Model.Id == 0 ? "Create" : "Edit")"
            route-values="@(Model.Id == 0 ? null : new { Id = Model.Id })" active="true"
        />
    </breadcrumb>

    @if (Model.Id == 0)
    {
        <partial name="_Alert" model="new Alert { Content = Users.ExplainCreate }" />
    }

    <partial name="_Alerts" />

    <form-content for="Model" action="@(Model.Id == 0 ? "Create" : "Edit")">
        <input-group for="FirstName" autofocus />
        <input-group for="LastName" />
        <input-group for="UserName" />
        <input-group for="Email" />
        <select-group for="LanguageId" options="@(await _LanguageService.GetAllLanguagesAsync()).ToSelectList(x => x.Name, x => x.Id.ToString(CultureInfo.InvariantCulture))" />

        <div class="mb-1">
            <label asp-for="RoleIds">@Users.Roles</label>
            @{
                var roles = await _RoleService.GetAllRolesAsync();
                foreach (var role in roles)
                {
                    <form-checkbox name="RoleIds" value="@role.Id" label="@role.Name" checked="@Model.RoleIds?.Contains(role.Id) == true" />
                }
            }
        </div>

        <input class="button primary" type="submit" value="@Core.Save">
    </form-content>
</content>
