@using Folly.Extensions
@using Folly.Resources
@using Folly.Utils

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <data-table key="users" src="@Url.Action("List", "User")">
        <data-head>
            <th width="@Html.Width(ColumnWidth.DoubleIcon)">
                <a authorize-roles="user.create" href="@Url.Action("Create", "User")" class="button primary">
                    <icon name="Add" label="@Users.CreateUser" />
                </a>
            </th>
            <th width="@Html.Width(ColumnWidth.Id)" data-property="id">@Core.Id</th>
            <th data-property="userName">@Users.UserName</th>
            <th data-property="firstName">@Users.FirstName</th>
            <th data-property="lastName">@Users.LastName</th>
            <th data-property="email">@Users.Email</th>
        </data-head>
        <data-body colspan="6">
            <td>
                <a authorize-roles="user.edit" href="@Url.ActionForMustache("Edit")" class="button primary">
                    <icon name="EditAlt" label="@Users.EditUser" />
                </a>
                <nilla-confirm authorize-roles="user.delete" hx-delete="@Url.ActionForMustache("Delete")" data-ok="@Core.Okay"
                    data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Users.UserLower)"
                >
                    <button class="button dark" role="button" type="button">
                        <icon name="DeleteAlt" label="@Core.Delete" />
                    </button>
                </nilla-confirm>
            </td>
            <td>{{id}}</td>
            <td>{{userName}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
        </data-body>
    </data-table>
</content>
