@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alert" />

    <alpine-table-data id="users" src="@Url.Action("List", "User")">
        <alpine-table-header />
        <alpine-table>
            <thead>
                <tr>
                    <alpine-th>
                        <a authorize-roles="user.create" href="@Url.Action("Create", "User")" class="button primary" title="@Users.CreateUser">
                            <icon name="Add" />
                        </a>
                    </alpine-th>
                    <alpine-th property="id">@Core.Id</alpine-th>
                    <alpine-th property="userName">@Users.UserName</alpine-th>
                    <alpine-th property="firstName">@Users.FirstName</alpine-th>
                    <alpine-th property="lastName">@Users.LastName</alpine-th>
                    <alpine-th property="email">@Users.Email</alpine-th>
                </tr>
            </thead>
            <tbody>
                <alpine-table-status colspan="6" />
                <alpine-table-row>
                    <alpine-td>
                        <a authorize-roles="user.edit" class="button primary" title="@Users.EditUser" :href="`@Url.Action("Edit")/${row.id}`">
                            <icon name="EditAlt" />
                        </a>
                        <fw-confirm-dialog authorize-roles="user.delete" :hx-delete="`@Url.Action("Delete")/${row.id}`" data-ok="@Core.Okay"
                            data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Users.UserLower)"
                        >
                            <a class="button dark" title="@Core.Delete">
                                <icon name="DeleteAlt" />
                            </a>
                        </fw-confirm-dialog>
                    </alpine-td>
                    <alpine-td property="id" />
                    <alpine-td property="userName" />
                    <alpine-td property="firstName" />
                    <alpine-td property="lastName" />
                    <alpine-td property="email" />
                </alpine-table-row>
            </tbody>
        </alpine-table>
        <alpine-table-footer />
    </alpine-table-data>
</content>
