@using Folly.Extensions
@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <data-table key="users" src="@Url.Action("List", "User")">
        <data-head>
            <th>
                <a authorize-roles="user.create" href="@Url.Action("Create", "User")" class="button primary"
                    title="@Users.CreateUser" aria-label="@Users.CreateUser"
                >
                    <icon name="Add" />
                </a>
            </th>
            <th data-property="id">@Core.Id</th>
            <th data-property="userName">@Users.UserName</th>
            <th data-property="firstName">@Users.FirstName</th>
            <th data-property="lastName">@Users.LastName</th>
            <th data-property="email">@Users.Email</th>
        </data-head>
        <data-body colspan="6">
            <td>
                <a authorize-roles="user.edit" href="@Url.ActionForMustache("Edit")" class="button primary"
                    title="@Users.EditUser" aria-label="@Users.EditUser"
                >
                    <icon name="EditAlt" />
                </a>
                <x-confirm-dialog authorize-roles="user.delete" hx-delete="@Url.ActionForMustache("Delete")" data-ok="@Core.Okay"
                    data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Users.UserLower)"
                >
                    <a class="button dark" title="@Core.Delete" aria-label="@Core.Delete">
                        <icon name="DeleteAlt" />
                    </a>
                </x-confirm-dialog>
            </td>
            <td>{{id}}</td>
            <td>{{userName}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
        </data-body>
    </data-table>
</content>
