@using Folly.Extensions
@using Folly.Resources

<content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index" active="true" />
    </breadcrumb>

    <partial name="_Alerts" />

    <fw-table key="users" src="@Url.Action("List", "User")">
        <fw-table-header />
        <fw-table-content>
            <thead>
                <tr>
                    <fw-th>
                        <a authorize-roles="user.create" href="@Url.Action("Create", "User")" class="button primary" title="@Users.CreateUser">
                            <icon name="Add" />
                        </a>
                    </fw-th>
                    <fw-th property="id">@Core.Id</fw-th>
                    <fw-th property="userName">@Users.UserName</fw-th>
                    <fw-th property="firstName">@Users.FirstName</fw-th>
                    <fw-th property="lastName">@Users.LastName</fw-th>
                    <fw-th property="email">@Users.Email</fw-th>
                </tr>
            </thead>
            <tbody>
                <fw-table-status colspan="6" />
                <fw-table-row>
                    <fw-td>
                        <a authorize-roles="user.edit" class="button primary" title="@Users.EditUser" href="@Url.ActionForMustache("Edit")">
                            <icon name="EditAlt" />
                        </a>
                        <fw-confirm-dialog authorize-roles="user.delete" hx-delete="@Url.ActionForMustache("Delete")" data-ok="@Core.Okay"
                            data-cancel="@Core.Cancel" data-content="@string.Format(Core.ConfirmDeleteBody, Users.UserLower)"
                        >
                            <a class="button dark" title="@Core.Delete">
                                <icon name="DeleteAlt" />
                            </a>
                        </fw-confirm-dialog>
                    </fw-td>
                    <fw-td property="id" />
                    <fw-td property="userName" />
                    <fw-td property="firstName" />
                    <fw-td property="lastName" />
                    <fw-td property="email" />
                </fw-table-row>
            </tbody>
        </fw-table-content>
        <fw-table-footer />
    </fw-table>
</content>
