@using System.Globalization;
@using Folly.Controllers;
@using Folly.Extensions
@using Folly.Resources;
@using Folly.Utils

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title id="page-title">@(ViewData[BaseController.TitleProperty] ?? Core.Brand)</title>

        <link rel="icon" href="~/favicon.ico" />
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <script src="~/js/index.js" asp-append-version="true" defer></script>
    </head>

    <body hx-boost="true" hx-target="#main" hx-history="false" hx-ext="ajax-header" hx-indicator="#htmx-indicator" hx-headers='{"@HtmxHeaders.Version": "@Html.ApplicationVersionNumber()"}' data-environment>
        <header id="luxbar" class="luxbar">
            <input type="checkbox" id="luxbar-checkbox" />
            <div class="luxbar-menu">
                <ul class="luxbar-navigation">
                    <li authorize-roles="dashboard.index" class="luxbar-header">
                        <a asp-controller="Dashboard" asp-action="Index" class="luxbar-brand"><icon name="Sun" label="@Core.Brand" show-label /></a>
                        <label class="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
                    </li>

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li authorize-roles="role.index">
                            <a asp-controller="Role" asp-action="Index"><icon name="Lock" label="@Roles.MenuItem" show-label /></a>
                        </li>
                        <li authorize-roles="user.index">
                            <a asp-controller="User" asp-action="Index"><icon name="Users" label="@Users.MenuItem" show-label /></a>
                        </li>
                        <li class="luxbar-dropdown">
                            <a href="#"><icon name="Settings" label="@Account.Settings" show-label /></a>
                            <ul>
                                <li authorize-roles="account.updateAccount">
                                    <a asp-controller="Account" asp-action="ToggleContextHelp"><icon name="Flag" label="@Core.ToggleHelp" show-label /></a>
                                </li>
                                <li authorize-roles="account.updateAccount">
                                    <a asp-controller="Account" asp-action="UpdateAccount"><icon name="User" label="@Account.UpdateAccount" show-label /></a>
                                </li>
                                <li>
                                    <x-info-dialog data-content="@Html.ApplicationVersionName()" data-ok="@Core.Okay">
                                        <a href="#"><icon name="CircleInformation" label="@Core.About" show-label /></a>
                                    </x-info-dialog>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Logout" hx-boost="false"><icon name="LogOut" label="@Account.Logout" show-label /></a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Login" hx-boost="false"><icon name="LogIn" label="@Account.Login" show-label /></a>
                        </li>
                    }
                </ul>
            </div>
        </header>

        <div id="main">
            @RenderBody()
        </div>

        <div id="htmx-indicator"></div>
    </body>
</html>
